@page "/login"
@using Shop.Common.Components
@using Shop.Common.ViewModels
@using Shop.Blazor.Services.Contracts
@using System.Web

@inject NavigationManager navigationManager

@inject IAccountService accountService

<h3>Login</h3>

<LoginComponent loginViewModel="loginViewModel" LoginAction="login"></LoginComponent>

@code {
    public LoginViewModel loginViewModel { get; set; } = new();

    public async Task<bool> login()
    {


        if (await accountService.Login(loginViewModel))
        {
            var urlAbsolute = new Uri(navigationManager.Uri);
            var queryParams = HttpUtility.ParseQueryString(urlAbsolute.Query);
            var ReturnUrl = queryParams["returnUrl"];
            if (string.IsNullOrEmpty(ReturnUrl))
                navigationManager.NavigateTo("/");
            else
                navigationManager.NavigateTo("/" + ReturnUrl);

            return true;
        }
        return false;
    }

}
