@page "/products"
@using Shop.Blazor.Models
@using Shop.Blazor.Pages.Components
@using Shop.Blazor.Services.Contracts
@using Shop.Common.Models
@inject IProductService productService

<h3>Products</h3>

<div class="container">
    <div class="row">

@foreach (var category in productList.Select(c => c.Category).Distinct())
{
    <h2 class="text-success pl-1"><b>@category</b></h2>

    @foreach (var product in productList.Where(c => c.Category == category))
    {
       <ProductCard  product="@product" /> 
    }
}
    </div>

</div>


@code {
    List<Product> productList = new();

    protected override async Task OnInitializedAsync()
    {
        productList = await productService.GetProductsAsync();
    }

}
