@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>

                    Hola, @context.User.Identity.Name
                    <NavLink href="/logout">Cerrar sesion</NavLink>

                </Authorized>
                <NotAuthorized>
                    <NavLink href="/Login">Inicia sesion</NavLink>

                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
