@using Microsoft.AspNetCore.Components.Forms
@using Shop.Common.ViewModels
<h3>LoginComponent</h3>

<EditForm Model="loginViewModel" OnValidSubmit="LoginHandle" class="form-line">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">User Name</label>
        <InputText id="name" @bind-Value="loginViewModel.Username" class="form-control"></InputText>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="loginViewModel.Password" type="password" class="form-control"></InputText>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {

    [Parameter]
    public LoginViewModel loginViewModel { get; set; } = new();

    [Parameter]
    public EventCallback<bool> LoginAction { get; set; }


    private async Task LoginHandle()
     => await LoginAction.InvokeAsync();



}
